!project/project/plugins.scala
*.class
*.iml
*.ipr
*.iws
*.log
*.log.gz
*.zip
.DS_Store
.cache/
.classpath
.ensime*
.history/
.idea
.lib/
.project
.sbt.ivy.lock
.scala_dependencies
.settings
.worksheet
bin/
cache
data
dist/*
inputs
lib_managed/
node_modules
out
output
project/boot/
project/plugins/project/
project/project/
project/target/
src_managed/
target/
test-reports
